#login-page {
  input {
    width: 400px;
  }
}

#admin {
  nav {
    border-bottom: none !important;
  }
}

a.home-btn {
  position: relative;
  top: 4px;

  &:hover {
    border: none !important;
  }
}

.greeting {
  letter-spacing: -0.03em;
  font-weight: 400;
}


//Browse

.masonry {
  .item {
    position: relative;

    .info-block {
      float: right;
      position: absolute;
      bottom: 10px;
      right: 20px;
    }
  }
}

#components {
  .section-title {
    font-size: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 40px;
    color: #585858;
    border-bottom: 3px solid #a9a9a9;
    display: inline-block;
  }
}

.component {
  display: block;
  position: relative;
  height: 130px;
  border: 5px solid $admin-black;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;

  .text-content {
    padding: 15px 30px;

  }

  a {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 2px;

    &:hover {
      color: black;
      border-bottom: 4px solid $yellow;
      opacity: 1;

    }
  }

  h3 {
    letter-spacing: -0.03em;
    margin-top: 0;
  }

  h2 {
    letter-spacing: -0.03em;
    margin-top: 5px;
  }

  //&:hover {
  //  cursor: pointer;
  //  border-color:#8cb6ff;
  //}



  .component-icon {
    height: 130px;
    display: block;
    max-width: 40px;
    position: absolute;
    top:15px;
    right: 15px;
  }
}

//Photos

//Browse
#filter-bar {
  .filter-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 4px solid black;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;

    &:hover {
      border-color: $yellow;
      cursor: pointer;
    }

    &.active {
      background: $yellow;
      border-color: #dedc66;
    }
  }
}


//Video

//Browse
#video-browse {
  h1 {
    margin-top: 0;
  }
  .border-btn {
    margin: 10px;
  }
  #upload-btn {
    position: absolute;
    right: 10px;
    top: 25px;
  }
}


//Tag

//Browse
#tag-browse {
  .item {
    margin-bottom: 40px;
  }
  span.category-name {
    font-size: 32px;
  }
  .item:hover {
    span.category-name {
      border-bottom: 4px solid $yellow;
    }

  }
}