//
#footer-cta {
  padding: 50px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    max-width: 1100px;

  }
}

//
#load-screen {
  display: none;
  .container {
    height: 100%;
  }
  &.active {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: $std-pg-bg;
  }

  .content {
    position: relative;
    width: 100%;
  }

  .loader {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 40px auto;
    border: 6px solid rgba(189, 189, 189, 0.25);
    border-left-color: #CAEF51;
    border-radius: 50%;
    -webkit-animation: inf-rotate 1200ms infinite linear;
    animation: inf-rotate 1200ms infinite linear;
  }
}

//Header
.services-listing {
  max-width: 1000px;
  margin: 0 auto;
  color: $sub-head-color;
  opacity: 0.8;
  text-align: center;
}



//Navigation
nav {
  position: relative;
  border-bottom: 4px solid #E2E2E2;

  .logo {
    //max-width: 250px;
    max-width: 150px;
  }

  .services-listing {
    margin: 0;
    .service {
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 0.15em;
    }
  }

  #mobile-nav-btn {
    display: none;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 30px;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      opacity: 1;

    }
  }

  #mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 1000;
    padding-top: 80px;

    a {
      display: block;
      text-align: center;
      font-size: 24px;
      margin: 40px 0;
    }

    .close-btn {
      opacity: 0.4;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      padding: 40px;

      &:hover {
        cursor: pointer;
        opacity: 1;
        color: black;

      }
    }
  }


  #nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    a {
      font-weight: 500;
      opacity: 1 !important;
      display: inline-block;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        border-bottom: 3px solid $yellow;
      }
      &:hover {
        border-bottom: 3px solid $yellow;
      }
    }
  }

  .project-cta {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }
}

.nav-container.scrolled {
  position: fixed;
  top: 0;
  background: white;
  margin: 0;

  .logo {
    max-width: 150px;
  }

  //.project-cta {
  //  font-size: 20px;
  //}
}

//Footer
footer{
  padding: 20px 0 80px;
}

#footer-menu {
  text-align: center;
  .link-container {
    display: inline-block;
    a {
      font-weight: 500;
      opacity: 1 !important;
      display: inline-block;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        border-bottom: 3px solid $yellow;
      }
      &:hover {
        border-bottom: 3px solid $yellow;
      }
    }

  }
}

