@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  #footer-menu .link-container a {
    margin-top: 5px;
    padding: 10px 0;
    font-size: 20px;
    &.active {
      border: none;
    }


  }

  h1.category-title {
    margin: 80px auto 60px;
    text-align: center;
  }

  .yt-cta {
    position: static;
    margin: 0 auto 40px;
  }

  #videos {
    h1 {
      margin-bottom: 20px;
    }
    text-align: center;
  }

  #mobile-nav-btn {
    display: block !important;
  }

  #nav-menu {
    display: none !important;
  }

  nav .project-cta {
    font-size: 20px !important;
    right: 30px;
    bottom: 20px;
  }
  .services-listing{
    display: none;
    align-content: center;
    .service:last-of-type {
      margin-right: 0;
    }
  }

  footer {
    .link-container {
      width: 100%;

      a {
        display: block !important;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0 !important;
      }
    }
  }
}

@media (min-width: 576px) {
  .masonry {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  .masonry {
    column-count: 2;
    column-gap: 0.7em;
  }

  #load-screen {
    .services-listing {
      width: 80%;
    }
  }
}
@media (min-width: 992px) {
  .masonry {
    column-count: 2;
    column-gap: 0.7em;
  }
}
@media (min-width: 1200px) {
  .masonry {
    column-count: 3;
    column-gap: 0.7em;

    &.two {
      column-count: 2;
    }
  }
}