// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f1f068;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$btn-color: #272727;
$text-primary: #383846;
$admin-black: #282828;
$colors: $blue, $indigo, $purple, $pink, $red, $orange, $green, $teal, $cyan;


$sub-head-color: #676772;
$std-pg-bg: #FAFAFA;
$button-color: #55555d;